<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <appSettings>  
    <add key="dir" value="C:\Users\rapha\OneDrive\Área de Trabalho\005 - Desenv\CSharp\Provas\ProvaAdmissionalApisul_Resposta\Solucao\ConsoleProvaApisul\DataSet"/>  
    <add key="file" value="input.json"/>  
  </appSettings>  
</configuration> 